### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [3]:
#total number of schools 
school_data_df = school_data_complete
school_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [4]:
number_of_schools_df = school_data_df['School ID'].nunique()
print ('Number of school is', (number_of_schools_df))

Number of school is 15

In [5]:
#Calculate the total number of students
number_of_students_df = school_data_complete['Student ID'].nunique()
print ('Number of students is', (number_of_students_df))

Number of students is 39170

In [6]:
#Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
#Calculate the average math score
average_maths = school_data_df["math_score"].mean()
average_maths

78.98537145774827

In [8]:
#Calculate the average reading score
average_reading = school_data_df["reading_score"].mean()
average_reading

81.87784018381414

In [9]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_df.loc[school_data_df['math_score'] >= 70]['math_score'].count()
perct_pass_math = (passing_math/number_of_students_df)*100
perct_pass_math

74.9808526933878

In [10]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_df.loc[school_data_df['reading_score'] >= 70]['reading_score'].count()
perct_pass_reading = (passing_reading/number_of_students_df)*100
perct_pass_reading

85.80546336482001

In [11]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
math_reading_pass = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/number_of_students_df*100
math_reading_pass

65.17232575950983

In [12]:
#Create a dataframe to hold the above results
school_data_summary = pd.DataFrame({
    "Total Number Schools" : [number_of_schools_df],
    "Total Students" : [number_of_students_df],
    "Total Budget" : [total_budget],
    "Average Math Score" : [average_maths],
    "Average reading score" : [average_reading],
    "% passing maths" : [perct_pass_math],
    "% passing reading" : [perct_pass_reading],
    "% passing both" : [math_reading_pass],
   

})
school_data_summary

,Total Number Schools,Total Students,Total Budget,Average Math Score,Average reading score,% passing maths,% passing reading,% passing both
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
#format table
school_data_summary.style.format({"Total Budget": "${:,.2f}",
                                  "Average Math Score": "{:.2f}",
                                  "Average reading score": "{:.2f}",
                                  "% passing maths" : "{:.2f}%",
                                  "% passing reading": "{:.2f}%",
                                  "% passing both" : "{:.2f}%",



})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
#group by school name
school_names = school_data_df.set_index("school_name").groupby(["school_name"])
school_names

In [101]:
#school type
school_types = school_data.set_index("school_name")["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [100]:
#total students
students_per_school = school_names['Student ID'].count()
students_per_school.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

In [99]:
#total school budget
school_budget = school_data.set_index("school_name")["budget"]
school_budget.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [98]:
#per student budget
budget_per_student = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
budget_per_student.head()

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
dtype: float64

In [27]:
#average math score
average_math_score = school_data_df["math_score"].mean()
average_math_score

78.98537145774827

In [28]:
#average reading score
average_read_score = school_data_df["reading_score"].mean()

In [97]:
#percent passing reading
percent_passing_maths= school_data_df[school_data_df["math_score"] >= 70].groupby("school_name")["Student ID"].count()/students_per_school*100
percent_passing_maths.head()

school_name
Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
Griffin High School     93.392371
Name: Student ID, dtype: float64

In [96]:
#percent passing reading
percent_passing_read= school_data_df[school_data_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/students_per_school*100
percent_passing_read.head()

school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
Name: Student ID, dtype: float64

In [95]:
#percent passing maths and reading by school
math_reading_pass = school_data_df[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >= 70)].groupby('school_name')['Student ID'].count()/students_per_school*100
math_reading_pass.head()

school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
Name: Student ID, dtype: float64

In [94]:
#Create an overview table that summarizes key metrics about each school
school_data_summary = pd.DataFrame({
    "School type": school_types,
    "Total students": students_per_school,
    "Total School budget": school_budget,
    "Per student budget": budget_per_student,
    "Average math score" : average_math_score,
    "Average reading score" : average_read_score,
    "% passing maths": percent_passing_maths,
    "% passing reading": percent_passing_read ,
    "% passing both": math_reading_pass,
   

})
school_data_summary.head()

,School type,Total students,Total School budget,Per student budget,Average math score,Average reading score,% passing maths,% passing reading,% passing both
Bailey High School,District,4976,3124928,628.0,78.985371,81.87784,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,78.985371,81.87784,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,78.985371,81.87784,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,78.985371,81.87784,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,78.985371,81.87784,93.392371,97.138965,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [44]:
#Sort and display the top five performing schools by % overall passing
top_5_schools = school_data_summary.sort_values('% passing both', ascending= False)
top_5_schools.head(5)

,School type,Total students,Total School budget,Per student budget,Average math score,Average reading score,% passing maths,% passing reading,% passing both
Cabrera High School,Charter,1858,1081356,582.0,78.985371,81.87784,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,78.985371,81.87784,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,78.985371,81.87784,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,78.985371,81.87784,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,78.985371,81.87784,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [47]:
bottom_5_schools = school_data_summary.sort_values('% passing both')
bottom_5_schools.head(5)

,School type,Total students,Total School budget,Per student budget,Average math score,Average reading score,% passing maths,% passing reading,% passing both
Rodriguez High School,District,3999,2547363,637.0,78.985371,81.87784,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,78.985371,81.87784,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,78.985371,81.87784,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,78.985371,81.87784,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,78.985371,81.87784,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [52]:
#Create a pandas series for each grade. Hint: use a conditional statement.
nine = school_data_df.loc[school_data_df["grade"] == "9th"].groupby("school_name")["math_score"].mean()
ten = school_data_df.loc[school_data_df["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleven = school_data_df.loc[school_data_df["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelve = school_data_df.loc[school_data_df["grade"] == "12th"].groupby("school_name")["math_score"].mean()

In [93]:
#Combine the series into a dataframe
math_scores = pd.DataFrame({
        "Yr 9": nine,
        "Yr 10": ten,
        "Yr 11": eleven,
        "Yr 12": twelve
})

math_scores.head()

                           Yr 9      Yr 10      Yr 11      Yr 12
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [55]:
## Reading Score by Grade 
#Create a pandas series for each grade. Hint: use a conditional statement.
nine = school_data_df.loc[school_data_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
ten = school_data_df.loc[school_data_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleven = school_data_df.loc[school_data_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelve = school_data_df.loc[school_data_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

In [92]:
reading_scores = pd.DataFrame({
        "Yr 9": nine,
        "Yr 10": ten,
        "Yr 11": eleven,
        "Yr 12": twelve
})

reading_scores.head()

                           Yr 9      Yr 10      Yr 11      Yr 12
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [122]:
#Create 4 bins for school spending per student
av_spend_bins = [0, 584, 629, 644, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-$675"]

In [123]:
school_data_df['av_spend_bins'] = pd.cut(school_data_df['budget']/school_data_df['size'], av_spend_bins, labels= group_names)
by_spending = school_data_df.groupby('av_spend_bins')

In [82]:
#average math score
math_average = by_spending["math_score"].mean()
math_average

av_spend_bins
<$584        83.363065
$585-629     79.982873
$630-644     77.821056
$645-$675    77.049297
Name: math_score, dtype: float64

In [84]:
#average reading score
reading_average = by_spending["reading_score"].mean()
reading_average

av_spend_bins
<$584        83.964039
$585-629     82.312643
$630-644     81.301007
$645-$675    81.005604
Name: reading_score, dtype: float64

In [88]:
#% passing math
percent_pass_math = school_data_df[school_data_df["math_score"] >=70].groupby("av_spend_bins")["Student ID"].count()/by_spending["Student ID"].count()*100
percent_pass_math

av_spend_bins
<$584        93.702889
$585-629     79.109851
$630-644     70.623565
$645-$675    66.230813
Name: Student ID, dtype: float64

In [91]:
#% passing reading
percent_pass_read = school_data_df[school_data_df["reading_score"] >=70].groupby("av_spend_bins")["Student ID"].count()/by_spending["Student ID"].count()*100
percent_pass_read

av_spend_bins
<$584        96.686558
$585-629     88.513145
$630-644     82.600247
$645-$675    81.109397
Name: Student ID, dtype: float64

In [103]:
#overall passing rate(average of above two)
overall_pass = (percent_pass_math + percent_pass_read)/2
overall_pass.head()

av_spend_bins
<$584        95.194724
$585-629     83.811498
$630-644     76.611906
$645-$675    73.670105
Name: Student ID, dtype: float64

In [112]:
scores_by_school_spend = pd.DataFrame({
    "Avg Math Score": math_average,
    "Avg Reading Score": reading_average,
    "% Passing Math": percent_pass_math,
    "% Passing Reading": percent_pass_read,
    "Avg Math & Reading": overall_pass
            
})

scores_by_school_spend.index.name = "Spend range (Avg per student)"
scores_by_school_spend = scores_by_school_spend.reindex(group_names)

scores_by_school_spend

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Avg Math & Reading
Spend range (Avg per student),,,,,
<$584,83.363065,83.964039,93.702889,96.686558,95.194724
$585-629,79.982873,82.312643,79.109851,88.513145,83.811498
$630-644,77.821056,81.301007,70.623565,82.600247,76.611906
$645-$675,77.049297,81.005604,66.230813,81.109397,73.670105

## Scores by School Size

In [129]:
#Create 4 bins for school spending per student
school_size_bins = [0, 999, 1999, 4999]
group_names = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]
group_names

['Small(<1000)', 'Medium(1000-2000)', 'Large(2000-5000)']

In [130]:
school_data_df['school_size_bins'] = pd.cut(school_data_df['size'], school_size_bins, labels= group_names)
by_size = school_data_df.groupby('school_size_bins')
by_size

In [131]:
#average math score
math_average = by_size["math_score"].mean()
math_average

school_size_bins
Small(<1000)         83.828654
Medium(1000-2000)    83.372682
Large(2000-5000)     77.477597
Name: math_score, dtype: float64

In [132]:
#average reading score
reading_average = by_size["reading_score"].mean()
reading_average

school_size_bins
Small(<1000)         83.974082
Medium(1000-2000)    83.867989
Large(2000-5000)     81.198674
Name: reading_score, dtype: float64

In [138]:
#% passing math
perc_pass_math = school_data_df[school_data_df["math_score"] >=70].groupby("school_size_bins")["Student ID"].count()/by_size["Student ID"].count()*100
perc_pass_math

school_size_bins
Small(<1000)         93.952484
Medium(1000-2000)    93.616522
Large(2000-5000)     68.652380
Name: Student ID, dtype: float64

In [139]:
#% passing math
perc_pass_read = school_data_df[school_data_df["reading_score"] >=70].groupby("school_size_bins")["Student ID"].count()/by_size["Student ID"].count()*100
perc_pass_read

school_size_bins
Small(<1000)         96.040317
Medium(1000-2000)    96.773058
Large(2000-5000)     82.125158
Name: Student ID, dtype: float64

In [148]:
#percent passing maths and reading 
math_reading = school_data_df[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >= 70)].groupby("school_size_bins")['Student ID'].count()/by_size["Student ID"].count()*100
math_reading

school_size_bins
Small(<1000)         90.136789
Medium(1000-2000)    90.624267
Large(2000-5000)     56.574046
Name: Student ID, dtype: float64

In [149]:
scores_by_school_size = pd.DataFrame({
    "Avg Math Score": math_average,
    "Avg Reading Score": reading_average,
    "% Passing Math": percent_pass_math,
    "% Passing Reading": percent_pass_read,
    "Avg Math & Reading": math_reading
            
})

scores_by_school_size.index.name = "School Size"
scores_by_school_size = scores_by_school_size.reindex(group_names)

scores_by_school_size

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Avg Math & Reading
School Size,,,,,
Small(<1000),83.828654,83.974082,93.952484,96.040317,90.136789
Medium(1000-2000),83.372682,83.867989,93.616522,96.773058,90.624267
Large(2000-5000),77.477597,81.198674,68.652380,82.125158,56.574046

In [ ]:
school_data_df['school_size_bins'] = pd.cut(school_data_df['budget']/school_data_df['size'], av_spend_bins, labels= group_names)
by_ = school_data_df.groupby('av_spend_bins')

* Perform the same operations as above, based on school size.

## Scores by School Type

In [150]:
# group by type of school
groupby_type = school_data_df.groupby("type")

In [153]:
#average math score
maths_avgs = groupby_type["math_score"].mean()
maths_avgs

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [152]:
#average reading score
reading_avgs = groupby_type["reading_score"].mean()
reading_avgs

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [164]:
#% passing math
percent_pass_maths = school_data_df[school_data_df["math_score"] >=70].groupby("type")["Student ID"].count()/groupby_type["Student ID"].count()*100
percent_pass_maths

type
Charter     93.701821
District    66.518387
Name: Student ID, dtype: float64

In [165]:
#% passing reading
percent_pass_reading = school_data_df[school_data_df["reading_score"] >=70].groupby("type")["Student ID"].count()/groupby_type["Student ID"].count()*100
percent_pass_reading

type
Charter     96.645891
District    80.905249
Name: Student ID, dtype: float64

In [166]:
#percent passing maths and reading 
math_reading_combined = school_data_df[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >= 70)].groupby("type")['Student ID'].count()/groupby_type["Student ID"].count()*100
math_reading_combined

type
Charter     90.560932
District    53.695878
Name: Student ID, dtype: float64

In [168]:
#create dataframe
scores_by_school_type = pd.DataFrame({
    "Average Math Score": maths_avgs,
    "Average Reading Score": reading_avgs,
    "% Passing Math": percent_pass_maths,
    "% Passing Reading": percent_pass_reading,
    "%Combined Maths Reading": math_reading_combined})

scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Combined Maths Reading
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878

* Perform the same operations as above, based on school type